# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
env/
ENV/
*.egg-info/
dist/
build/

# uv
.uv/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Spark
spark-warehouse/
metastore_db/
derby.log
*.crc

# Delta Lake
_delta_log/

# Data (no commiteamos datasets)
data/raw/
data/bronze/
data/silver/
data/gold/
*.csv
*.parquet
*.zip

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Secrets
.env
.env.local
*.pem
credentials.json

# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/*.tfvars

# AWS
.aws/

# dbt
lendflow_dbt/logs/
lendflow_dbt/target/
lendflow_dbt/dbt_packages/
logs/
